body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: rgb(227, 253, 249);
}

h1 {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    text-align: center;
    text-emphasis: bold;
    color:#262d58;
    font-size: 40px;
    background: transparent;
  }



label {
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color:#262d58;
    
}
input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    appearance: none;
    background: #e8e9ef;
    color:#262d58;
    padding: 12px;
    border-radius: 5px;
    width: 250px;
    outline: none;
    
}

input:focus::placeholder {
    color: transparent;
}

input::placeholder {
    background: transparent;
    color:#959abb;
    transition: color 0.5s linear;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}


p {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    text-align: center;
    text-emphasis: bold;
    color:#262d58;
    font-size: 30px;
    background: transparent;

  }
